.container {
    width: 100%;
   margin-bottom: 30px;
    display: flex;
}

.container-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid;
    max-height: 400px;
 
}

.section-title {
    display: flex;
    justify-content: space-between;
}

.container-extra {
    border: 1px solid;
    width: 50%;
    height: 200px;
    margin-left: 5px;
}