.saving-container {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 1.5rem;
    gap: 16px;
    background-color: var(--primary-color-cards);   
}

.current-saving {
    display: flex;
    justify-content: space-between;
}

.target {
    display: flex;
    justify-content: space-between;
}