.balance-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: var(--primary-color-cards);
}
.balance-container p {
    margin-bottom: 8px;
}